DB_URL=jdbc:mysql://localhost:3306/showfolio
DB_USERNAME=root
DB_PASSWORD=
JWT_SECRET=공백없이 임의의32글자
GEMINI_API_KEY=

GITHUB_CLIENT_ID=dummy-client-id-value-1234
GITHUB_CLIENT_SECRET=dummy-client-secret-value-5678

UPLOAD_DIR=C:/(본인 레포지토리 저장 경로)/uploads/